body {
    padding-top: 5rem;
}

div.photogrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}

div.photogrid img{
    width: 23rem;
    height:20rem;
}

